html{
    background-color: rgb(116, 114, 114);
}

body{
    background: rgb(199, 199, 199);
}
h1{
    font-family: serif;
}

hr{
    border: solid;
    color:rgb(0, 0, 0);
    border-bottom: 0.5px solid rgb(250, 250, 250);
    margin-left: 10rem;
}

.post .about{
    color: rgb(13, 68, 102);
    font-style: italic;
}

.post{
    padding-left: 10rem;
}