<!DOCTYPE html>
<html lang="pt-br">   
    <head>
        <title>{%block title%} {% endblock %}O blog</title>
        <link rel="stylesheet" href="/static/style.css">
    </head> 
    <body>
        <header class="principalHeader">
            <div class="textInitial">
                <h1 class="siteName"> O <br> blog</h1>
            </div>
            <div class="imgInitial">
                <img src="../static/img/imgHeader.jpg" alt="">
            </div>
        </header>

        <nav>

        </nav>    
    
        <section class="content">
            {% block content%}{% endblock %}
        </section>
    </body>
</html>