{% extends 'base.html' %}
{% block content %}
    {%for post in posts%}
        <article class="post">
            <header>
                    <div>
                        <a href="{{ url_for('post', id=post.id)}}">
                            <h1 class="titlePost">{{post.title}}</h1>
                        </a>
                        <div class="about">
                            Criado por '{{post['author']}}' em {{post['created'].strftime('%d-%m-%Y')}}</div>
                    </div>
                
            </header>
            <p class="body">{{post['body']}}</p>
        </article>
        {%if not loop.last %}
        <hr>
        {%endif%}
        {%endfor%}

        <nav aria-label="Pages">
            <ul class="pagination pagination-lg">
              <li class="page-item disabled">
                <a class="page-link" href="1" tabindex="-1">1</a>
              </li>
              {%for i in range(2, n_posts+1)%}
              <li class="page-item"><a class="page-link" href="{{ url_for('index', page=i)}}">{{i}}</a></li>
              {%endfor%}
            </ul>
          </nav>

{% endblock %}